<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Live Torrent</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.plyr.io/3.5.3/plyr.css" />
  <link rel="stylesheet" href="/css/master.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.plyr.io/3.5.3/plyr.polyfilled.js"></script>
</head>

<body>
  <header>
    {{> _navbar}}
  </header>
  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>
  <script>
    M.AutoInit();
  </script>
</body>

</html>