<div style="margin-top: 5em;">
  <div class="input-field">
    <input type="search" id="torrentId" placeholder="magnet uri, info hash, http/https torrent file"
      value="magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel">
    <label for="magnet">Torrent File</label>
  </div>
  <div class="right">
    <a href="javascript:explore();" class="btn blue waves-effects">Explore</a>
  </div>
</div>

<script>
  function explore() {
    const value = $('#torrentId').val();
    location.href = '/explorer?torrentId=' + value;
  }
</script>