<form action="/torrent/add" method="post" style="margin-top: 5em;">
  <div class="input-field">
    <input type="text" name="magnet" placeholder="magnet uri, info hash, http/https torrent file" value="magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel">
    <label for="magnet">Torrent File</label>
  </div>
  <div class="right">
    <input type="submit" value="Explore" class="btn blue">
  </div>
</form>
